.container {
    margin-top: 20px;
  }
  
  .col-md-8 {
    line-height: 35px;
  }
  
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .article-title {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
  }
  
  .intr {
    color: #dc3545;
  }
  
  p {
    margin-bottom: 30px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  h4 {
    margin-top: 80px;
  }
  
  .toc {
    margin-bottom: 50px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .widget-toc {
    position: sticky;
    top: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  
  .toc-header {
    cursor: pointer;
  }
  
  .widget ul {
    list-style-type: none;
    padding: 0;
  }
  
  .widget ul li {
    margin-bottom: 10px;
  }
  
  .widget ul li a {
    color: #0056b3;
    text-decoration: none;
  }
  
  .widget ul li a:hover {
    text-decoration: underline;
  }