/* 全体コンテナ */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 600; 
}

h2 {
  font-size: 1.5rem; 
  font-weight: 600;   
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem; 
  font-weight: 600; 
  margin-top: 50px;
  margin-bottom: 0px;
}

p {
  line-height: 30px;
}

li a {
  line-height: 30px;
  color: #0056b3;
}

section {
  margin-top: 100px;
}

/* パンくずリストのスタイル */
.breadcrumb {
  margin-bottom: 20px;
}

.breadcrumb a {
  color: #0056b3;
}

/* メインコンテンツ */
.main-content {
  width: 70%;
  float: left;
}

/* タイトル */
.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* 目次セクション */
.toc {
  border: 1px solid #ddd;
  padding: 15px; 
  background-color: #f8f9fa; 
  border-radius: 8px;
  margin-bottom: 20px;
}

.toc-header {
  cursor: pointer;
  font-weight: bold;
}

.toc ul,
.widget-toc ul,
.related-pages ul {
  list-style-type: none;
  padding: 0;
}

.toc ul li a, 
.widget-toc ul li a,
.black-link {
  text-decoration: none;
  color: #000000;
}

.toc ul li a:hover {
  text-decoration: underline;
}

.widget-toc ul li a:hover {
  text-decoration: underline;
}

.black-link:hover {
  text-decoration: underline;
}

.toc-inner {
  margin-left: 20px;
}

/* サイドバーのスタイル */
.sidebar {
  width: 28%;
  float: right;
  margin-top: 20px;
  height: 100vh;
}

/* 関連ページセクション */
.related-pages {
  border: 1px solid #ddd;
  padding: 15px; 
  background-color: #f8f9fa; 
  border-radius: 8px; 
  margin-bottom: 20px;
}

.widget-toc {
  position: sticky;
  top: 20px;
  border: 1px solid #ddd;
  padding: 15px; 
  background-color: #f8f9fa; 
  border-radius: 8px; 
  margin-bottom: 20px;
}

/* 文中の赤字テキスト */
.red-text {
  color: #dc3545;
}

/* メインコンテンツとサイドバーの間に余白を追加 */
.content::after {
  content: "";
  display: table;
  clear: both;
  margin-right: 20px;
}

/* タイトルのスタイル（目次や関連ページなど） */
.related-pages h2, .widget-toc h2 {
  margin-top: 0; 
  margin-bottom: 0px; 
}

img {
  max-width: 100%; 
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

td:first-child {
  font-weight: bold;
  white-space: nowrap;
}

/* タイトルに左側の色付きボーダーを追加 */
.title-with-accent {
  border-left: 6px solid #DE8A4A;
  padding-left: 10px;
  line-height: 1.2;
}

/* 表の偶数行に背景色を追加 */
.table-striped tr:nth-child(even) {
  background-color: #e8f1fa; /* 偶数行の背景色 */
}

/* 表の奇数行の背景色 */
.table-striped tr:nth-child(odd) {
  background-color: #ffffff; /* 奇数行の背景色（必要に応じて色を変更） */
}

/* レスポンシブデザイン（スマホ用） */
@media (max-width: 768px) {
  .main-content, .sidebar {
      width: 100%;
      float: none;
      margin: 0;
  }

  .sidebar {
      margin-top: 40px;
  }
}